#content{
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	display:inline-block;
	position:relative;
	width:70vw;
	height:70vh;
	background-color:white;
	margin-left:15vw;
	top:15vh;
	font-size:1.2em;
	overflow:hidden;
}
#content>ul>li:nth-of-type(3){
	position:relative;
	float:right;
	margin-right:0;
	background-color:rgb(255,153,0);
}
#content .ui-tabs-active {
  background: #E40070;
  color:white;
}
#content>li:focus{
	outline:none;
}
.img{
	position:relative;
	width:15vw;
	height:40vh;
	display:inline-block;

	z-index:2;
}
.text{
	overflow:hidden;
	width:15vw;
	height:40vh;
	display:inline-block;
	margin-left:3%;
	margin-top:3%;
	z-index:2;
	
}

.hoverimg{
	word-wrap: break-word;
	text-align:center;
	line-height:550%;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	position:absolute;
	z-index:6;
	width:10vw;
	height:10vw;
	left:51vw;
	top:10px;
}
#slider{
	white-space:nowrap;
	top:5vw;
	position:relative;
	display:block;
	width:70vw;
	height:300px;
	background:rgba(0, 0, 0, 0);
	margin-left:15vw;
	overflow:hidden;
}
#slider > img{
	top:10px;
	display:inline;
	position:relative;
	margin-left:2vw;
	left:-43vw;
	width:50vw;
	height:250px;
	
}

#about{
	height:10vh;
}

#contact{
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding:0;
	border:0;
	margin-left:75vw;
	position:relative;
	top:20vh;
	width:10vw;
	height:5vh;
	background:#ff9900;
	z-index:3;
}

#sliderbtn{
	
	position:absolute;
	display:inline-block;
	top:270px;
	left:30vw;
}
#sliderbtn > button{
	width:10px;
	height:15px;
	background:rgb(255,153,0);
	border:2px solid black;
	border-radius:100%;
}
#sliderbtn > button:first-of-type{
	background-color:rgb(255,26,117);
}

.ui-dialog {
      opacity: 0.8;
}

.ui-button-icon{
	background:red;
}
 #content {  
     padding: 0px;  
     background: none;  
     border-width: 0px;  
 }  
 #content .ui-tabs-nav {  
     padding-left: 0px;  
     background: transparent;  
     border-width: 0px 0px 1px 0px;  
     -moz-border-radius: 0px;  
     -webkit-border-radius: 0px;  
     border-radius: 0px;  
 }  
 #content .ui-tabs-panel {  
     background: white;  
     border-width: 0px 1px 1px 1px;  
 } 


p:first-child{
	 /* display:none;  */
}

#contactsrc{
  position:relative;
  z-index:4;
  width: 10vw;
  height:100vh;
  background: rgba(0, 0, 0, 0.8);
 
}

form:first-child{

  display:inline-block;
  position:relative;
  top:20vh;
  left:40%;
  width:20vw;
  height:4vw;
  z-index:5;
}
input[type=text] {
    opacity:none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

button:nth-child(7){
	 margin:0;
    width:20vw;
    height:3vw;
    font-size:1.5em;
}

#exitcontact{
	display:none;
	background:red;
	color:white;
   font-size:3vw;
   line-height:90%;
   width:3vw;
   height:3vw;
}
